
/* html{
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  
} */

body {
  font-family: 'Raleway', sans-serif;
  /* overflow-x:hidden; */
  color: white;

}


/*HEADER*/
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  float: right;
  color: black;
  /* padding: 20px 20px; */
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* MENÚ HAMBURGUESA */

.header .menu {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; 
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navi {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}
.header .menu-icon .navi:before,
.header .menu-icon .navi:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.header .menu-icon .navi:before {
  top: 5px;
}
.header .menu-icon .navi:after {
  top: -5px;
}
/* menu btn */

.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu { /*permite seleccionar) a cualquier elemento HTML */
  max-height: 240px;
}



/*--------HERO-------*/


.seccion-hero {
  background-image: url("./img/taxi.jpg");
  background-size: cover;
  height: 100vh;
}

.hero {
  background-color: #f7b617;
  position: absolute;
  width: 70%;
  height: 40%;
  right: 0%;
  top: 30%;
  align-items: center;
  
}

.hero-mobile h1{
  line-height: 2rem;
  padding: 1%;
  margin: 1rem 1rem 3rem 2rem;
}
.hero-mobile img{
  width: 40%;
}
.btn-descarga{
  padding: 10px;
  background-color: white; 
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  margin: 0 0 0 2rem;
  
}
.o-bien {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.hero-desktop, .btn-registrate, .btn-conductor, .o-bien{
  display: none;
}



/*INFORMATION*/

.information{
  background-color: #f7b617;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informacion {
  width: 95%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-info{
  border: white 1.5px solid;
  width: 80%;
  height: 20rem;
  margin: 4%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mobile-info h2{
  margin:0;
}
.cell{
  text-align: center;
  font-size: 25px;
  /* line-height: 2rem; */
} 
.mobile-info img{
  width: 70%;
  display: block;
  margin: 1rem 0 0 0; 
}
.llega-destino{
  font-size: 18px;
  color: white;
  margin: 1rem 0 0 0 ;
}
.info-desktop{
  display: none;
}

/*MODAL INICIAR SESIÓN*/
#crear-cuenta{
  background-color: antiquewhite;
  height: 75vh;
}
.cuenta-usuario{
  background-color: rgb(42, 192, 142); 
  width: 90%;
  height: 75%;
  margin: 2rem auto;
  border-radius: 0.8rem;    
}

.cuenta-usuario img{
  width: 26%;
  margin-left: 35%;
  margin-top: 7%;
}
.cuenta-usuario label{
  margin: 1.5rem 0;
}
.cuenta-usuario input{
  background-color: white;
  color: white;
  display: inline-table;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 35%;
  margin-top: 4%;
  font-size: small;
  margin-left: 1rem;
  height: 2rem;
  width: 60vw;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.6rem;
  padding-left: 1rem;
}
.usuario{
  background-color: #f5f5f5;
  width: 80%;
  display: inline-flex;
  margin-left: 8%;
  height: 33vh;
}
.cuenta img{
  width: 9%;
  margin-left: 3%;
  position: inherit;
}
.key img{
  width: 9%;
  margin-left: 3%;
  position: inherit;
}
.btn-loging{
  background-color: #f7b617;
  color: white;
  display: flex;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 40%;
  margin-top: 5%;
  font-size: small;
}
.p{
  text-align: center;
  justify-content: center;
}

/*MODAL DE REGISTRARTE*/

#registrate{
  background-color: white;
  height: 75vh;
}
.contenenedor-registro{
  background-color:  rgb(204, 204, 204);
  width: 84%;
  height: 60vh;
  margin: 2rem auto;
  border-radius: 15px; 
}
.registro{
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 32vh;
  padding-left: 13%;
  display: flex;
  position: absolute;
  text-align: center;
  padding: 0.8rem;
  border-radius: 10px;
  margin-left: 8%;
  margin-top: 4%;
  align-items: center;
}
.contenedor-registro p{
  color: black;
  margin-top: 25%;
  font-size: 0.8rem;
  margin-left: 17%;
}
.name input{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-left: 3%;
  display: inline-block;
  width: 17vh;
  border-radius: 6px;
  height: 4vh;
}
.mail input{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  width: 36vh;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 6px;
  height: 4vh;
}
.name ::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  padding-left: 5%;
}
.mail ::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  padding-left: 5%;
}
.btn-enviar{
  background-color: #4ebddf;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  text-decoration: none;
  color: white;
  display: flex;
  position: absolute;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 3%;
  margin-top: -2%;
  width: 36vh;
  padding-left: 31%;
}



/*SECCIÓN DRIVER*/

.driver{
  background-image: url("./img/conduce.jpg");
  background-size: cover;
  width: 100%;
  height: 15rem;
}
.info-driver{
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  /* padding: 1rem; */
}
.driver-txt{
  width: 90%;
  height: 13rem;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.info-driver h2{
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.info-driver p{
  font-size: 1rem;
  margin: 0 0 1rem 0; 
}
.btn-driver{
  width: 14rem;
  height: 1.5rem;
  background-color: #f7b617;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 1rem 0 0 0;
}

/*MODAL DE CONVIERTE EN CONDUCTOR*/
.conductor-mode{
  background-color: white;
  height: 75vh;
}
.modo-drive{
  background-color: #a8a8a8;
  width: 84%;
  height: 60vh;
  margin: 2rem auto;
  border-radius: 0.8rem; 
  padding-top: 5%;
  align-items: center;
  align-content: center;
}
.modo-drive label{
  color: black;
  margin-top: -1%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 20px;
}
.modo-drive input{
  background-color: white;
  color: black;
  display: inline-table;
  padding: 0.5rem;
  border-radius: 6px;
  margin-left: 35%;
  margin-top: 4%;
  font-size: small;
  margin-left: 2rem;
  height: 1.9rem;
  width: 60vw;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.6rem;
  padding-left: 1rem;
}
.modo-drive p{
  font-size: 0.9rem;
  margin-left: 6%;
  font-size: 0.9rem;
  font-weight: bold;
}
.btn-submit{
  background-color: #4ebddf;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  text-decoration: none;
  color: white;
  display: flex;
  position: absolute;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 3%;
  margin-top: -2%;
  width: 20vh;
  text-align: center;
  
}




/*RATE*/
.rate{
  background-color: #f7b617;
  height: 100vh;
}
.seccion-rate{
  padding: 2rem;
}
.ruta input{
  margin-left: 1rem;
  height: 2rem;
  width: 60vw;
  background-color: #F7B617;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  padding-left: 1rem;
  border-radius: 0.6rem;
}
.ruta label{
  margin: 2rem 0;
  display: block;
}
.ruta ::placeholder{
  color: white;
  font-family: 'Raleway', sans-serif;
}
.btn-rute{
  padding: 20px;
  background-color: white; 
  font-family: 'Raleway', sans-serif;
  align-items: right;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  text-align: center;
}

.rate-rute input {
  height: 4rem;
  width: 70rem;
  color: white;
  background-color: #F7B617;
  border-color:  white;
  border-style: solid;
  border-width: 0.1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 0.6rem;
}


.map{
  max-width: 100%;
  box-sizing: content-box;
  margin-top: 25%;
  margin-bottom: 10px;
}

/*FOOTER*/
footer{
  display: flex;
  background-color: #2b2b2b;
}
.head-footer img{
  width: 50%;
}
.head-footer hr{
 width: 90%;
}
.footer-list hr{
  width: 90%;
}
.content-footer{
  width: 80vw;
  height: 65vh;
}
.content-footer li{
  font-size: 1rem;
  margin: 3%;
}
.social-media{
  width: 6%;
  display: flex;
  margin-left: 10rem;
}
.social-media img{
  width: 80%;
  margin:0 4px;
}
.list-mobile ul{
  padding-inline-start: 15px;
  line-height: 1.7rem;
}
.list-desktop{
  display: none;
}
.store{
  margin-top: -58%;
}
.store img{
  width: 50%;
  margin-left: 60%;
}
.footer-end{
  display: inline-block;
  margin-top: 25%;
  margin-left: 3%;
}

/*FOOTER*/
footer{
  display: flex;
  background-color: #2b2b2b;
}
.head-footer img{
  width: 50%;
}
.head-footer hr{
 width: 90%;
}
.footer-list hr{
  width: 90%;
}
.content-footer{
  width: 80vw;
  height: 65vh;
}
.content-footer li{
  font-size: 1rem;
  margin: 3%;
}
.social-media{
  width: 6%;
  display: flex;
  margin-left: 10rem;
}
.social-media img{
  width: 80%;
  margin:0 4px;
}
.list-mobile ul{
  padding-inline-start: 15px;
  line-height: 1.7rem;
}
.list-desktop{
  display: none;
}
.store{
  margin-top: -58%;
}
.store img{
  width: 50%;
  margin-left: 60%;
}
.footer-end{
  display: inline-block;
  margin-top: 25%;
  margin-left: 3%;
}














/*RESPONSIVE*/
/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  /* .header li a {
    padding: 20px 30px;
  } */
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /*HERO*/

.seccion-hero {
  background-position: center bottom;
  height: 100vh;
  
}
.hero {
  height: 50vh;
  width: 40%;
  right: 0%;
  top: 24%;
}
.hero-desktop{
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  /* margin: 3%; */
}
.hero-desktop h4{
  font-size: 20px;
  /* margin-left: 2%; */
}
.hero-desktop h2{
  /* margin: 1%; */
  font-size: 1.9rem;
}
.hero-desktop img{
  width: 25%;
}
.o-bien{
  display: flex;
  /* padding:30px; */
  /* margin-bottom: 10px; */
  width: 100%;
  position: center;
}
.btn-registrate, .btn-conductor {
  display: inline;
  padding: 0.8rem;
  background-color: white;
  text-decoration: none;
  border-radius: 10px;
  margin: 5%;
  color: black;
  font-weight: bold;

}
.hero-mobile, .btn-descarga{
  padding: 1rem;
  height: auto;
  display: none;
}

/*-----MODAL INICIAR SESIÓN------*/
#crear-cuenta{
  height: 90vh;


}
.cuenta-usuario{
  width: 50%;
  height: 60vh;
  margin: 2rem auto; 
  background-color: rgb(42, 192, 142); 
}

.cuenta-usuario img{
  width: 15%;
  margin-left: 42%;
  margin-top: 5%;
}
.cuenta-usuario label{
  margin: 1.5rem 0;
}
.cuenta-usuario input{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-left: 1rem;
  height: 2rem;
  width: 25vw;
}
.usuario{
  width: 70%;
  margin-left: 15%;
  height: 35vh;
  background-color: rgb(216, 212, 212);
}
.cuenta img{
  width: 4%;
  margin-left: 6%;
  position: inherit;
}
.key img{
  width: 4%;
  margin-left: 6%;
  position: inherit;
}
.btn-loging{
  background-color: #f7b617;
  color: white;
  display: flex;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 40%;
  margin-top: 5%;
  font-size: small;
  /* position: absolute; */
}
.pass p{
  text-align: left;
  justify-content: center;
  color: black;
  display: flex;
} 



/*INFORMATION*/
    
.information{
  height: 85vh;
}
.informacion{
  width: 180vh;
  height: 90vh;
  margin: 0%;
  padding: 0%;
  padding-top: 0%;
  margin: 10px 3px 10px -1px;
}
.info-desktop{
  display: block;
  position: absolute;
  width: 31%;
  margin-left: 51%;
  top: 111%;
}

.text{
  font-size: 25px;
  line-height: 2rem;
}
.mobile-info img{
  width: 30%;
  display: block;
  margin-left: 10%;
  margin-top: 7%; 
}
.llega-destino, .cell{
  display: none;
  font-size: 25px;
  color: white;
}

/*MODAL DE REGISTRATE*/
#registrate{
  height: 80vh;
}
.contenedor-registro{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  background-color: rgb(204, 204, 204);
  color: black;
  width: 50%;
  height: 73vh;
  margin: 1rem auto;
  border-radius: 15px;
  align-items: center;

}
.registro{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-top: 2%;
  font-size: medium;
  width: 90%;
  padding-left: 8%;
  display: block;
  position: inherit;
  margin-left: 5%;
  position: inherit;

}
.contenedor-registro p{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-top: 2%;
  font-size: 1.2rem;
  margin-left: 29%;
}
.name input{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-left: 3%;
  display: inline-block;
  width: 44vh;
  height: 4vh;
}
.mail input{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  display: block;
  margin-left: 3%;
  margin-top: 3%;
  height: 4vh;
  width: 94%;
}
.name ::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  padding-left: 5%;
}
.mail ::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  padding-left: 3%;
}
.btn-enviar{
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: absolute;
  padding: 0.8rem;
  margin-left: 7%;
  margin-top: 1%;
  font-size: medium;
  padding-left: 1%;
  width: 34%;
}




/*DRIVER*/

.driver{
  background-position: center;
  height: 70vh;
}
.info-driver{
  width: 42%;
  justify-content: flex-end;
  margin-left: 58%;
}
.info-driver h2{
  font-size: 2rem;
}
.info-driver p{
  font-size: 1.5rem;
}
.btn-driver{
  position: absolute;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 4%;
  font-size: 15px;
}


/*MODAL DE CONVIERTE EN CONDUCTOR*/
.conductor-mode{
  height: 90vh;
}
.modo-drive{
  width: 50%;
  height: 80vh;
  margin: 1rem auto;
  border-radius: 0.8rem; 
  padding-top: 5%;
  align-items: center;
}
.modo-drive label{
  margin-top: 5%;
  margin-left: 5%;
}
.modo-drive input{
  display: block;
  padding: 0.5rem;
  margin-top: 4%;
  font-size: small;
  margin-left: 1rem;
  height: 1.9rem;
  width: 46vw;
  padding-left: 1rem;
}
.modo-drive p{
  font-size: 0.9rem;
  margin-left: 6%;
  font-size: 0.9rem;
  font-weight: bold;
}
.btn-submit{
  background-color: #4ebddf;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  text-decoration: none;
  color: white;
  display: flex;
  position: absolute;
  padding: 0.8rem;
  border-radius: 6px;
  margin-left: 3%;
  margin-top: -2%;
  width: 36vh;
  text-align: center;
}


/*RATE*/
.rate{
  height: 80vh;
}
.seccion-rate{
  margin-top: 3%;
  padding: 2rem;
}
.ruta{
  padding-left: 3%;
}
.ruta input{
  margin-left: 2rem;
  height: 2rem;
  width: 30vw;
}
.ruta label{
  margin: 1.5rem 0;
  display: block;
}
.ruta h2{
  font-size: 25px;
}
.ruta p{
  font-size: 20px;
}
.ruta ::placeholder{
  color: white;
  font-size: 18px;
}
.btn-rute{
  margin: 15%;
}
.map{
  margin-left: 52%;
  margin-top: -18%;
}
.map iframe{
  width: 74vh;
  height: 69vh;
}

/*FOOTER*/
.content-footer{
  width: 90vw;
  height: 85vh;
  padding: 5%;
  margin: 2%;
}
.head-footer img{
  width: 10%;
}
.social-media{
  justify-content: flex-end;
}
.social-media img{
  width: 40%;
}
.footer-list{
  display: flex;
  justify-content: center;
}
.list-mobile{
  display: flex;
  float: left;
}
.list-mobile ul{
  padding-inline-start: 1px;
  line-height: 1.5rem;
  font-size: 1rem;
}
.list-desktop{
  display: flex;
  justify-content: end;
}
.list-desktop ul{
  line-height: 1.5rem;
  font-size: 1rem;
}
.store{
  display: block;
  justify-content: baseline;
  margin: -31%;
  margin-right: -23rem;
}
.store img{
  width: 10%;
  margin-right: 0%;
  position: relative;
  padding: 1%;
}
.footer-end{
  display: flex;
  margin-top: 46%;
  margin-left: -1%;
  justify-content: start;
}
}
/*-------MEDIDAS GRID-----------*/
.col-1{width: 8.333333333333332%;}
.col-2{width: 16.666666666666664%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333333333%;}
.col-5{width: 41.66666666666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333333333336%;}
.col-8{width: 66.66666666666666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333333334%;}
.col-11{width: 91.66666666666666%;}
.col-12{width: 100%;}





